{
	"customer":{
			"name":"",
			"inspection_place":""
	},
	"sales":{
			"name":"",
			"tel_no":"",
			"email":"sales@rockplace.co.kr"
	},
	"engineer":{
			"name":"",
			"tel_no":"",
			"email":"midware@rockplace.co.kr"
	},
	"template_host":{
			"ip":"127.0.0.1",
			"os_user_id":"hsyang",
			"os_user_pw":"gmltjs",
			"template_path":"/sw/jboss/tool/template"
	},
	"host_default_values":{
			"os_user_id":"hsyang",
			"os_user_pw":"gmltjs",
			"os_root_pw":"gmltjs",
			"java_home":"/usr/java/jdk1.7.0_79",
			"jboss_home":"/sw/ktcloud-jboss/jboss-eap-6.4",
			"domain_base":"/sw/ktcloud-jboss/servers"
	},
	"instance_default_values":{
			"config_file":"",
			"log_home":"$DOMAIN_BASE/$SERVER_NAME/log",
			"node_name":"$SERVER_NAME",
			"bind_addr":"0.0.0.0",
			"jgroups_bind_addr":"192.168.56.10",
			"port_offset":"0",
			"mgmt_addr":"127.0.0.1",
			"controller_ip":"${mgmt_addr}",
			"multicast_addr":"230.1.0.1",
			"jms_multicast_addr":"230.2.0.1",
			"modcluster_multicast_addr":"224.0.1.105",
			"-Xms":"256m",
			"-Xmx":"512m",
			"-XX:PermSize":"128m",
			"-XX:MaxPermSize":"128m",
			"-Xss":"256k",
			"gc_option":"-XX:+UseParallelOldGC",
			"-Xloggc":"$LOG_HOME/gclog/gc_$DATE.log",
			"-XX:HeapDumpPath":"$LOG_HOME/gclog/java_pid.hprof",
			"-Djboss.default.jgroups.stack":"udp",
			"admin_console_id":"admin",
			"admin_console_pw":"rplinux12#"
	},
	"services":[
			{
				"name":"cloud-portal",
				"config_file":"",
				"httpd_hosts":[
					{
						"ip":"192.168.56.10",
						"os_user_id":"root",
						"os_user_pw":"rplinux",
						"httpd_home":"/sw/ktcloud-httpd",
						"config":{
							"Timeout":"60",
							"KeepAlive":"On",
							"MaxKeepAliveRequests":"1000",
							"KeepAliveTimeout":"10",
							"Listen":"192.168.56.10:80",
							"User":"daemon",
							"Group":"daemon",
							"ServerName":"www.rp.com",
							"DocumentRoot":"",
							"LogLevel":"warn",
							"ServerTokens":"Prod",
							"TraceEnable":"Off",
							"CustomLog":"logs/jws_access_log combined",
							"mpm":{
								"type":"worker",
								"ThreadLimit":"64",
								"ServerLimit":"64",
								"StartServers":"20",
								"MaxRequestWorkers":"1000",
								"MaxClients":"1000",
								"MinSpareThreads":"50",
								"MaxSpareThreads":"100",
								"ThreadsPerChild":"50",
								"MaxConnectionsPerChild":"0",
								"MaxRequestsPerChild":"0"
							},
							"vhosts":[
								{
									"vhost_name":"default",
									"ServerName":"",
									"DocumentRoot":"",
									"DirectoryIndex":"index.html index.jsp",
									"JkMounts":[
										"/*.jsp wlb",
										"/*.do wlb"
									]
								},
								{
									"vhost_name":"portal",
									"ServerName":"portal.rptest1.com",
									"DocumentRoot":"",
									"DirectoryIndex":"index.html index.jsp",
									"JkMounts":[
										"/*.jsp wlb",
										"/*.do wlb"
									]
								},
								{
									"vhost_name":"intra",
									"ServerName":"intra.rptest1.com",
									"DocumentRoot":"",
									"DirectoryIndex":"index.html index.jsp",
									"JkMounts":[
										"/*.jsp wlb",
										"/*.do wlb"
									]
								}
							],
							"ssl":{
								"use_ssl":"yes",
								"LogLevel":"warn",
								"Listen":"${ip}:443",
								"SSLProtocol":"all -SSLv2 -SSLv3",
								"SSLCipherSuite":"HIGH:MEDIUM:!aNULL:!MD5",
								"generate_self_signed_certificate":"yes",
								"SSLCertificateFile":"/etc/pki/tls/certs/rp.com.crt",
								"SSLCertificateKeyFile":"/etc/pki/tls/private/rp.com.key"
							},
							"connector":{
								"use_connector":"mod_jk",
								"mod_jk":{
									"socket_timeout":"10",
									"reply_timeout":"60000",
									"recovery_options":"7",
									"connection_pool_timeout":"60",
									"method":"session",
									"sticky_session":"true",
									"JkMounts":[
										"/*.jsp=wlb",
										"/*.do=wlb"
									]
								},
								"mod_cluster":{
									"Listen":"6666"
								}
							}
						}
					}
				],
				"jboss_hosts":[
					{
						"ip":"192.168.56.10",
						"os_user_id":"jboss",
						"os_user_pw":"rplinux",
						"os_root_pw":"rplinux",
						"java_home":"",
						"jboss_home":"",
						"domain_base":"",
						"instances":[
								{
									"instance_name":"portal11",
									"config_file":"",
									"log_home":"",
									"node_name":"",
									"bind_addr":"${ip}",
									"jgroups_bind_addr":"${ip}",
									"port_offset":"0",
									"mgmt_addr":"${ip}",
									"controller_ip":"${mgmt_addr}",
									"multicast_addr":"",
									"jms_multicast_addr":"",
									"modcluster_multicast_addr":"",
									"-Xms":"",
									"-Xmx":"",
									"-XX:PermSize":"",
									"-XX:MaxPermSize":"",
									"-Xss":"",
									"gc_option":"",
									"-Xloggc":"",
									"-XX:HeapDumpPath":"",
									"-Djboss.default.jgroups.stack":"",
									"admin_console_id":"",
									"admin_console_pw":"",
									"result":""
								},
								{
									"instance_name":"portal12",
									"config_file":"",
									"log_home":"",
									"node_name":"",
									"bind_addr":"${ip}",
									"jgroups_bind_addr":"${ip}",
									"port_offset":"100",
									"mgmt_addr":"${ip}",
									"controller_ip":"${mgmt_addr}",
									"multicast_addr":"",
									"jms_multicast_addr":"",
									"modcluster_multicast_addr":"",
									"-Xms":"",
									"-Xmx":"",
									"-XX:PermSize":"",
									"-XX:MaxPermSize":"",
									"-Xss":"",
									"gc_option":"",
									"-Xloggc":"",
									"-XX:HeapDumpPath":"",
									"-Djboss.default.jgroups.stack":"",
									"admin_console_id":"",
									"admin_console_pw":"",
									"result":""
								}
						]
					}
				]
			}
	]
}